{{#unless floatingLabel}}
  <option value=""></option>
{{/unless}}

{{#each options as |option|}}
  <option value={{option.value}} selected={{option.selected}} disabled={{option.disabled}} label={{option.label}}>{{option.text}}</option>
{{/each}}
