{{#unless floatingLabel}}
  <option value=""></option>
{{/unless}}

{{#each options as |opt|}}
  <option value={{opt.value}} selected={{opt.selected}} disabled={{opt.disabled}} label={{opt.label}}>{{opt.text}}</option>
{{/each}}
