{{#mdl-list}}
  {{#mdl-list-item}}{{#mdl-list-item-primary-content}}Bryan Cranston{{/mdl-list-item-primary-content}}{{/mdl-list-item}}
  {{#mdl-list-item}}{{#mdl-list-item-primary-content}}Aaron Paul{{/mdl-list-item-primary-content}}{{/mdl-list-item}}
  {{#mdl-list-item}}{{#mdl-list-item-primary-content}}Bob Odenkirk{{/mdl-list-item-primary-content}}{{/mdl-list-item}}
{{/mdl-list}}

<hr />

{{#mdl-list}}
  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-icon icon="person"}} Bryan Cranston
    {{/mdl-list-item-primary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-icon icon="person"}} Aaron Paul
    {{/mdl-list-item-primary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-icon icon="person"}} Bob Odenkirk
    {{/mdl-list-item-primary-content}}
  {{/mdl-list-item}}
{{/mdl-list}}

<hr />

{{#mdl-list}}
  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bryan Cranston</span>
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-action}}
      <a href="#">{{mdl-icon icon="star"}}</a>
    {{/mdl-list-item-secondary-action}}
  {{/mdl-list-item}}

  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Aaron Paul</span>
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-action}}
      <a href="#">{{mdl-icon icon="star"}}</a>
    {{/mdl-list-item-secondary-action}}
  {{/mdl-list-item}}

  {{#mdl-list-item}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bob Odenkirk</span>
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-action}}
      <a href="#">{{mdl-icon icon="star"}}</a>
    {{/mdl-list-item-secondary-action}}
  {{/mdl-list-item}}
{{/mdl-list}}

<hr />

{{#mdl-list}}
  {{#mdl-list-item lines=2}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bryan Cranston</span>
      {{#mdl-list-item-sub-title}}62 episodes{{/mdl-list-item-sub-title}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-info}}Actor{{/mdl-list-item-secondary-info}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item lines=2}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Aaron Paul</span>
      {{#mdl-list-item-sub-title}}62 episodes{{/mdl-list-item-sub-title}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item lines=2}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bob Odenkirk</span>
      {{#mdl-list-item-sub-title}}62 episodes{{/mdl-list-item-sub-title}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}
{{/mdl-list}}

<hr />

{{#mdl-list}}
  {{#mdl-list-item lines=3}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bryan Cranston</span>
      {{#mdl-list-item-text-body}}
        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
        for playing Hal in Malcom in the Middle.
      {{/mdl-list-item-text-body}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item lines=3}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Aaron Paul</span>
      {{#mdl-list-item-text-body}}
        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
        the "Need For Speed" Movie.
      {{/mdl-list-item-text-body}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}

  {{#mdl-list-item lines=3}}
    {{#mdl-list-item-primary-content}}
      {{mdl-list-item-avatar icon="person"}}
      <span>Bryan Cranston</span>
      {{#mdl-list-item-text-body}}
        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
        character, Bob stars in his own show now, called "Better Call Saul".
      {{/mdl-list-item-text-body}}
    {{/mdl-list-item-primary-content}}

    {{#mdl-list-item-secondary-content}}
      {{#mdl-list-item-secondary-action}}<a href="#">{{mdl-icon icon="star"}}</a>{{/mdl-list-item-secondary-action}}
    {{/mdl-list-item-secondary-content}}
  {{/mdl-list-item}}
{{/mdl-list}}
