{{#mdl-layout}}
  {{mdl-toolbar title="Textfields" navigateUpTo="layout"}}

  {{#mdl-layout-content}}
    <div style="padding: 16px; position: relative">
      {{#mdl-form action="#" style="padding: 16px"}}
        {{mdl-textfield label="Text..."
                        required=true
                        fullWidth=true
                        customError=customError
                        placeholder="Name goes here"
                        floatingLabel=true}}

        {{!-- mdl-textfield label="Text..."
                        required=true
                        floatingLabel=true
                        fullWidth=true}}

        <div>
          {{mdl-textfield label="Expandable text field"
                          floatingLabel=true
                          expandable=true
                          expandableIcon="search"}}
        </div>

        <div>
          {{mdl-textfield label="Full width expandable text field"
                          floatingLabel=true
                          fullWidth=true
                          expandable=true
                          expandableIcon="search"}}
        </div>

        <div>
          {{mdl-textfield label="Right-aligned expandable text field"
                          floatingLabel=true
                          alignRight=true
                          expandable=true
                          expandableIcon="search"}}
        </div>

        <div>
          {{mdl-textfield label="Full width right-aligned expandable text field"
                          floatingLabel=true
                          fullWidth=true
                          alignRight=true
                          expandable=true
                          expandableIcon="search"}}
        </div>

        {{mdl-textarea rows=5 label="Notes"
                       floatingLabel=true
                       fullWidth=true
                       required=true --}}
      {{/mdl-form}}
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
