<div style="padding: 16px">
  {{mdl-checkbox label="Checkbox 1"}}
  {{mdl-checkbox label="Checkbox 2" checked=true}}

  {{mdl-radio label="Radio 1"}}
  {{mdl-radio label="Radio 2" checked=true}}

  {{mdl-icon-toggle icon="search"}}

  {{mdl-switch label="Switch on" checked=true}}
  {{mdl-switch label="Switch off"}}

</div>
