<div style="padding: 16px">
  {{mdl-checkbox label="Checkbox 1"}}
  {{mdl-checkbox label="Checkbox 2" checked=true}}

  {{mdl-radio label="Radio 1"}}
  {{mdl-radio label="Radio 2" checked=true}}

  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
    {{input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked=true}}
    <span class="mdl-radio__label">First</span>
  </label>
</div>
